.footer {
    height: 98px;
    padding: 16px 0;
    text-align: center;

    &__social {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
            margin-right: 8px;
            opacity: .6;
            transition: opacity 200ms ease-in-out;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__label {
        display: block;
        margin: 16px auto 0;

        img {
            height: 18px;
        }
    }
}
