%layout {
    max-width: 96%;
    width: 960px;
    margin: 0 auto;
}

.grid {
    @extend %layout;
    @extend %clearfix;
}

.row {
    @extend %clearfix;
}

.col {
    float: left;
    padding: 0 12px;

    &--1  { width: 8.333333333%; }
    &--2  { width: 16.666666667%; }
    &--3  { width: 25%; }
    &--4  { width: 33.333333333%; }
    &--5  { width: 41.666666667%; }
    &--6  { width: 50%; }
    &--7  { width: 58.333333333%; }
    &--8  { width: 66.666666667%; }
    &--9  { width: 75%; }
    &--10 { width: 83.333333333%; }
    &--11 { width: 91.666666667%; }
    &--12 { width: 100%; }

    @include media("<=tablet") {
        float: none;
        width: 100%;
    }
}
